@{
    ViewData["Title"] = "Home Page";
}

<environment include="Development">
    <h1>We are in development env</h1>
</environment>

<environment include="Staging">
    <h1>We are in staging env</h1>
</environment>

<environment include="Production">
    <h1>We are in staging env</h1>
</environment>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
